/* Standard Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-color: #add8e6;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.top-bar {
    background-color: #daa520;
    border: 3px dashed black;
    padding: 0.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav-sider {
    width: calc(100% / 6);
}

nav {
    width: calc(100% / 6 * 2);
    text-align: center;
}

#logo-head {
    text-align: left;
}

#login {
    text-align: right;
}

/* Main */
/* Top Div */

#top-div {
    background-color: #00008b;
}

#top-centered {
    height: 300px;
    width: 50%;
    background-color: #ee82ee;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border: 3px dashed black;
}

/* Big Left & Big Right*/

.first-color {
    background-color: white;
}

.second-color {
    background-color: #d3d3d3;
}

.big {
    height: 400px;
    width: 40%;
    background-color: #1e90ff;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border: 3px dashed black;
}

.small {
    height: 400px;
    width: 30%;
    background-color: #ffc0cb;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border: 3px dashed black;
}

/* The Big One */

#big-one {
    height: 700px;
    width: 70%;
    background-color: #228b22;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border: 3px dashed black;
}